input {
    width:200%;
    border: 5px solid white; 
    -webkit-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
        0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
        0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(114, 107, 107, 0.247);
    margin: 0 0 10px 0;
    }
    * {
    box-sizing: content-box;
    }
  
    button {
        display: inline-block;
        font-size: .825em;
        margin-top: 9px;
        text-decoration: none;
         font-weight: 800;
         margin-left: 14px;
         width:150px;
         height: 47px;
         padding: 0.35em 1em;
         background-color: rgb(133, 145, 145);
         background-image: linear-gradient(grey,rgb(158, 65, 146));
         border-radius: 3px;
         color: black;
         text-shadow: 0 1px 1px rgba(255,255,255,.7);
         box-shadow: 0 0 0 1px rgba(121, 226, 240, 0.2), 0 1px 2px rgba(26, 159, 163, 0.2), inset 0 1px 2px rgba(255,255,255,.7);
     }         
         
  body{
      background-color:#FFEBCD;
  }
  
  input,select {
      width: 20%;
      padding: 5px;
      margin: 5px ;
      
  }
  #headingID
  {
      color:rgb(23, 2, 26);
      font-style:inherit;
      
  }
  
  
  * {
      box-sizing: border-box;
  }

  table, th, td {
    border: 1px solid blueviolet; 
    width:30%;  
    margin-top:6%;
    margin-left: 24%;
  }
  
  table, th,td {
   color: crimson;
   width:30%;
  }
  
  table thead tr td {
   color:olivedrab;
   width:30%;  

   /* position: absolute;
    bottom: 9em;
    width:100% */
  }