.demo-style{
    background-color: magenta;
    color: red;

}


#para2{
    color:yellow  !important;
}

input [type="submit"],button{
    color: goldenrod;
    background-color: indianred;

}

body
{

background-image:url("paper.gif");
background-repeat: repeat;
border: 2px solid red;
border-style: dotted;
padding: 10px;
background-color: #cccccc;
}
div h2{
   color: saddlebrown; 
}
div.a {
    text-align: center;
      background-color: lightblue;
  width: 110px;
  height: 110px;
  overflow: auto;
  }
  
ul>li{
    background-color: salmon;
}

input:focus{
    background-color: green;
}

ul{
    position: absolute;
}

ul li{
    display: inline;
    color: white;
    background-color: blue;
    border:2px
}

p::first-letter{
    font-size: larger;
    color: greenyellow;

}
