body{
    background-color: rgb(205, 235, 255);
  }




input {
    width: 300%;
    border: 5px solid white; 
    -webkit-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
        0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
        0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(114, 107, 107, 0.247);
    margin: 0 0 10px 0;
    }
    * {
    box-sizing: content-box;
    }
  
    button {
        display: inline-block;
        font-size: .825em;
         margin-top: 9px;
         text-decoration: none;
         font-weight: 800;
         margin-left: 14px;
         width:150px;
         height: 38px;
         padding: 0.35em 1em;
       
         background-image: linear-gradient(grey,rgb(52, 213, 235));
         border-radius: 3px;
         color: rgb(70, 4, 4);
         text-shadow: 0 1px 1px rgba(255,255,255,.7);
         box-shadow: 0 0 0 1px rgba(121, 226, 240, 0.2), 0 1px 2px rgba(26, 159, 163, 0.2), inset 0 1px 2px rgba(255,255,255,.7);
     }         
         
   
form {                                         
    margin: 0 auto; 
    width: 600px; 
                                          
        margin-left: 70px; 
        font-weight: bold ; 
        float: left; 
        clear: left; 
        width: 100px; 
        text-align: left; 
        margin-right: 10px; 
        font-family:sans-serif,bold, Arial, Helvetica; 
        font-size:14px; 
        padding-left: 19%;
  
       
}


table, th, td {
    border: 1px solid blueviolet;   
    margin-top:28%;
    margin-left: 24%;
  }
  
