.box{
	width:350px;
	height:261px;
	background :rgb(197, 197, 248)  ;
	 margin:1px; 
	box-sizing: border-box;
	/* font-size: 50px; */
	font-style: normal;
	font-display: white;
	/* text-align: center;
	text-decoration-color: white; */
}
/* Style the header */
header {
  background-color:skyblue;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  }

footer {
  background-color:skyblue;
  padding: 10px;
  text-align: center;
  color: white;
  }

.circle {
    text-align:center;

  width:200px;
  height:200px;
  background-color: #555;
 
  border-radius: 50%;
  line-height:60px;
  color:white;
  margin:20px auto;
  position:relative;

  
  }
  .container{
    position: absolute;
    height: 10px;
    width: 20px;
  }
 


.header {
   
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }

#main{
	/* float:left; */
	width:131%;
	background-color: white;		
	display: flex;
	flex-direction: row;	
	flex-flow:wrap
}


.container {
    display: flex;
  }
  .holder {
    flex: 1;
    margin: 1%;
    border-radius: 50%;
  }
  .holder:before {
    content: "";
    display: inline-block;
    padding-top: 100%;
  }
  .h1 {
    background: blue;
  }
  .h2 {
    background: red;
  }
  .h3 {
    background: green;
  }
  .h4 {
    background: grey;
  }